
{erl_opts, [{parse_transform, lager_transform}]}.

{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git",
              {branch, "master"}}},
    {lager, "3.2.1"},
    {eper, "0.94.0"},
    {jsx, "2.8.0"},
    {hackney, "1.6.3"}
]}.

{profiles, [
    {test, [
        {deps, [
            {hackney, "1.6.3"}
        ]}
    ]}
]}.

{shell, [{config, "config/sys.config"}]}.

{relx, [
    {release, {emock, "0.1"}, [emock, eper, hackney]},

    {sys_config, "./config/sys.config"},
    %{overlay, [
    %    {template, "config/sys.config", "releases/{{release_version}}/sys.config"}
    %]},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}]}.

