
{erl_opts, [debug_info,
            {parse_transform, lager_transform}]}.

{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {branch, "master"}}},
    {lager, {git, "https://github.com/basho/lager.git", {tag, "3.2.3"}}}
]}.

{shell, [{config, "config/sys.config"}]}.

{relx, [
    {release, {emock, "0.1"}, [emock]},

    {sys_config, "./config/sys.config"},
    %{overlay, [
    %    {template, "config/sys.config", "releases/{{release_version}}/sys.config"}
    %]},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}]}.

