[
 {emock, [
    {cowboy, [
        {port, 8080},
        {listeners, 5}
    ]},

    {hooks, [emock_response_time,
             emock_rest, 
             emock_rest_db]},

    %
    % Parameters for each plugin
    %
    {emock_response_time, [
        % Response time with normal distribution (min, max in ms)
        {normal, {20, 500}}
    ]},

    {emock_rest, [
        %% Response for a GET
        {"/api", "GET", "application/json", "[]"},
        %% Response for a POST
        %% TODO specify path prefix /api/*
        {"/api/*", "POST", "application/json", ""}
    ]},

    {emock_rest_db, [
        {prefix, "/db"},

        {resource, person, [
            {path, "/person"},
            {id, "id"}
        ]},
        {resource, book, [
            {path, "/book"},
            {id, "id"}
        ]}
    ]}
 ]},

 {lager, [
    {handlers, [
        {lager_console_backend, [
            debug,
            {lager_default_formatter, [
                time, " [", severity, "] ",
                {module, ["[", module, ":", line, "] "], ""},
                message, "\n"]}
        ]},
        {lager_file_backend, [{file, "log/error.log"}, {level, error}]}
    ]}
 ]}
].

