[
 {emock, [
    {cowboy, [
        {port, 8080},
        {listeners, 5}
    ]},

    {hooks, [response_time, mock_rest, rest_db]},

    {response_time, [
        % Response time with normal distribution (min, max in ms)
        {normal, {20, 500}}
    ]},

    {mock_rest, [
        %% Response for a GET
        {"/api", "GET", "application/json", "[]"},
        %% Response for a POST
        %% TODO specify path prefix /api/*
        {"/api", "POST", "application/json", ""}
    ]},

    {rest_db, []},

    {custom, []}
 ]},

 {lager, [
    {handlers, [
        {lager_console_backend, debug},
        {lager_file_backend, [{file, "log/error.log"}, {level, error}]}
    ]}
 ]}
].

